.alarmIcon{
    margin-top:-3px;
    margin-right:3px;
    margin-left:5px
}

.teamBlock{
    width: 25px;
    height: 15px;
    border: 1px solid black;
    border-radius: 3px;
    margin-left: 15px;
}
