<template>
  <v-card style="padding-bottom:5px;">
    <v-card-title>
      Score
    </v-card-title>

    <v-card-text style="padding-bottom:0">Basic Score: {{basicScore}}</v-card-text>
    <v-card-text style="padding-top:0">Stockfish Score: {{stockFishScore}}</v-card-text>
  </v-card>
</template>

<script src="./lib/Score.js"></script>

<style src="./lib/Score.css" scoped></style> 