<template>
  <v-app>
    <v-app-bar app color="rgba(17, 89, 28, 1)" dark dense>
      <img alt="logo" id="app-logo" src="./assets/stockfish-logo.png" />
      <v-toolbar-title>ChessGame</v-toolbar-title>
      <v-spacer />
      <v-toolbar-items class="hidden-sm-and-down">
        <template v-for="item in menu">
          <v-btn :key="item.icon" :to="item.to" text v-if="item.if">{{ item.title }}</v-btn>
        </template>
      </v-toolbar-items>
      <v-menu class="hidden-md-and-up">
        <template v-slot:activator="{ on }">
          <v-btn class="hidden-md-and-up" icon v-on="on">
            <v-icon>mdi-menu</v-icon>
          </v-btn>
        </template>
        <v-list style="margin-top:10px">
          <template v-for="item in menu">
            <v-list-item :key="item.icon" :to="item.to" v-if="item.if">
              <v-list-item-title>{{ item.title }}</v-list-item-title>
            </v-list-item>
          </template>
        </v-list>
      </v-menu>
    </v-app-bar>

    <v-content>
      <feed-back />
      <resume-modal
        :dialog="resumeModal.show"
        :gameid="resumeModal.gameid"
        :host="resumeModal.host"
        @joinToResume="joinToResume"
      />
      <v-container fluid>
        <v-row v-if="storedUser && false">
          <v-col cols="12" lg="10" offset-lg="1">
            <Status />
          </v-col>
        </v-row>
        <v-row>
          <!--v-col cols="12" lg="10" offset-lg="1"-->
          <router-view />
          <!--/v-col-->
        </v-row>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import Vue from "vue";
import VueRouter from "vue-router";
import io from "socket.io-client";
import VueSocketIO from "vue-socket.io";
import store from "./store/index";
import FeedBack from "./components/feedBack/feedBack";
import Settings from "../../server/settings";
import Status from "./components/status/Status";
import ResumeModal from "./components/resumeModal/ResumeModal";
import VueClipboard from "vue-clipboard2";

Vue.use(
  new VueSocketIO({
    debug: true,
    connection: io(`http://localhost:${Settings.express.port}/`), //options object is Optional
    //connection: io(`http://185.229.179.183:8078/`), //options object is Optional
    vuex: {
      store,
      actionPrefix: "SOCKET_",
      mutationPrefix: "SOCKET_"
    }
  })
);

Vue.use(VueRouter);
Vue.use(VueClipboard);

export default {
  name: "App",
  data() {
    return {
      resumeModal: {
        data: null,
        show: false,
        gameid: "",
        host: ""
      }
    };
  },
  components: {
    ResumeModal,
    FeedBack,
    Status
  },
  sockets: {
    invitationToResumeAGame: function(data) {
      this.resumeModal.data = data;
      this.resumeModal.gameid = data.GAME_ID;
      this.resumeModal.host = data.GAME_WHITE_USERNAME;
      this.resumeModal.show = true;
    },
    declinedInvitation: function(data) {
      this.$store.commit(
        "snack/updateMessage",
        `${data.GAME_BLACK_USERNAME} declined the invitation to resume game ${data.GAME_ID}`
      );
      this.$store.commit("snack/setColor", "warning");
      this.$store.commit("snack/show", true);
    },
    connect: function() {
      if (this.storedUser) {
        this.socketAuth();
      }
    },
    authenticated: function() {
      this.$store.commit("user/userGoOnline");
    },
    disconnect: function() {
      this.$store.commit("user/userGoOffline");
    }
  },
  methods: {
    socketAuth() {
      this.$socket.emit("authenticate", { token: this.storedUser.token });
    },
    joinToResume(wantToJoin) {
      this.resumeModal.show = false;
      if (wantToJoin.answer) {
        this.$router.push({name:'Home'})
        this.$socket.emit("resumingGame", this.resumeModal.data);
      } else {
        this.$socket.emit("declinedInvitation", {
          sendTo: this.resumeModal.data.GAME_WHITE_USER,
          data: this.resumeModal.data
        });
      }
    }
  },
  watch: {
    storedUser() {
      if (this.storedUser) {
        if (
          !this.$socket.connected &&
          !this.$socket.connecting &&
          !this.$socket.reconnecting
        ) {
          this.$socket.connect();
        } else {
          this.socketAuth();
        }
      }
    }
  },
  computed: {
    storedUser() {
      return this.$store.state.user.user;
    },
    menu() {
      return [
        { icon: "home", title: "Home", to: "/", if: true },
        {
          icon: "1",
          title: "Sign up",
          to: "/signup",
          if: !this.$store.state.user.status.loggedIn
        },
        {
          icon: "2",
          title: "Sign in",
          to: "/signin",
          if: !this.$store.state.user.status.loggedIn
        },
        { icon: "3", title: "About", to: "/about", if: true },
        {
          icon: "4",
          title: "Profile",
          to: "/profile",
          if: this.$store.state.user.status.loggedIn
        },
        {
          icon: "5",
          title: "Sign out",
          to: "/signout",
          if: this.$store.state.user.status.loggedIn
        }
      ];
    }
  }
};
</script>

<style scoped>
#app-logo {
  width: 48px;
  height: 48px;
}
</style>