<template>
  <v-dialog v-model="showing" persistent max-width="500">
    <v-card>
      <v-card-title class="headline">{{title}}</v-card-title>
      <v-card-text>{{text}}</v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="green darken-1" v-if="negativeText != null" text @click="negative()">{{negativeText}}</v-btn>
        <v-btn color="green darken-1" text @click="positive()">{{positiveText}}</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script>
export default {
  data: () => ({}),
  props: {
    positiveText: {
      type: String,
      default: "Confirm"
    },
    negativeText: {
      type: String
    },
    title: {
      type: String,
      default: "Confirmation"
    },
    text: {
      type: String,
      default: "Do you really want to do this action ?"
    },
    showing:{
        type: Boolean,
        default : false
    }
  },
  methods: {
    positive() {
      this.$emit("positive");
    },
    negative() {
      this.$emit("negative");
    }
  }
};
</script>
