<template>
    <v-card>
        <v-card-title>Login Form</v-card-title>
        <v-card-subtitle>Please fill this form to Login yourself</v-card-subtitle>
        <ValidationObserver v-slot="{ invalid }">
            <v-form @submit.prevent="onSubmit">
                <v-container>
                    <v-row>
                        <v-col>
                            <ValidationProvider rules="required" v-slot="{ errors }">
                                <v-label>Pseudo</v-label>
                                <v-text-field filled label="Pseudo" required v-model="data.pseudo"/>
                                <v-alert border="left" colored-border elevation="2" type="error" v-if="errors[0]">{{
                                    errors[0] }}
                                </v-alert>
                            </ValidationProvider>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col>
                            <ValidationProvider rules="required" v-slot="{ errors }">
                                <v-label>Password</v-label>
                                <v-text-field :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
                                              :type="show ? 'text' : 'password'" @click:append="show = !show" filled
                                              label="Password"
                                              required
                                              v-model="data.password"/>
                                <v-alert border="left" colored-border elevation="2" type="error" v-if="errors[0]">{{
                                    errors[0] }}
                                </v-alert>
                            </ValidationProvider>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col>
                            <v-btn :disabled="invalid" type="submit">Submit</v-btn>
                        </v-col>
                    </v-row>
                </v-container>
            </v-form>
        </ValidationObserver>
    </v-card>

</template>
<script src="./lib/Signinform.js"></script>


<style scoped src="./lib/Signinform.css"></style>