<template>
  <v-container style="padding:0">
    <ConfirmDialog
      :showing="showEndDialog"
      @positive="leaveRoom"
      :text="endDialogMsg"
    />
    <v-flex xs12>
      <div class="board">
        <Cell
          :class="'cell-' + (piece.x-1) + '-' + (piece.y-1)"
          :key="key"
          :val="piece.val"
          :x="piece.x"
          :y="piece.y"
          :clickable="clickable"
          @cellClick="cellClick"
          @dragImgEnd="moveClick"
          @dragImgStart="makeLegalMoves"
          v-for="(piece, key) in pieces"
        />
        <Move
          :class="'cell-' + (move.x-1) + '-' + (move.y-1)"
          :key="key1+32"
          :x="move.x"
          :y="move.y"
          @moveClick="moveClick"
          v-for="(move, key1) in moves"
        />
        <backgroundInfoChess
          :class="'cell-' + (info.x-1) + '-' + (info.y-1)"
          :key="key2+64"
          :lastMove="info.lastMove"
          :bestMove="info.bestMove"
          @moveClick="moveClick"
          v-for="(info, key2) in infoCells"
        />
      </div>
    </v-flex>
    <PromotionModal
      :dialog="modal.show"
      :move="modal.move"
      :promotions="modal.promotions"
      :turn="whichTurn"
      @promotionResult="promotionMove"
    />
  </v-container>
</template>

<script src="./lib/Chess.js"/>

<style lang="css" src="./lib/Chess.css"/>

<style lang="scss" scoped>
@import "./lib/chess.scss";
</style>