<template>
    <div>
        <v-alert
                :type="isPlayerOnline ? 'success' : 'error'"
                border="left"
                dense
                elevation="2"
                text
        >
            <div id="status">
                <h3>Status</h3>
                <span>{{statusString}}</span>
                <v-btn color="green" dark v-if="!isPlayerOnline">Switch Online</v-btn>
                <v-btn color="red" dark v-if="isPlayerOnline">Switch Offline</v-btn>
            </div>
        </v-alert>
    </div>
</template>

<script>
    export default {
        name: "Status",
        computed: {
            isPlayerOnline() {
                return this.$store.state.user.status.online;
            },
            statusString() {
                return this.isPlayerOnline ? "Online" : "Offline";
            }
        }
    }
</script>

<style scoped>
    i {

    }

    #status {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
    }
</style>