<template>
  <div ref="cell" class="cell" :class="conditionalCSS" @click="clickCell()">
    <template v-for="(piece, key) in pieceTypes">
      <v-img
        :key="key"
        v-if="piece.val==val"
        @dragstart="dragStart($event)"
        @drag="dragMove($event)"
        @dragend="dragEnd()"
        class="pieceImg"
        :src="piece.img"
      ></v-img>
    </template>
  </div>
</template>

<script src="./lib/Cell.js"></script>

<style src="./lib/Cell.css" scoped></style> 