@for $x from 0 through 7 {
    @for $y from 0 through 7 {

        $topDef: $x * 100;
        $rightDef: $y * 100;
  
    .cell-#{$x}-#{$y} {
      transform:translate(0% + $topDef, 0% - $rightDef);
      width: 12.5%;
      height: 12.5%;
      bottom:0;
      left:0;
      position: absolute;
    }
  }
}