.row, .col{
    padding:0;
    margin:0
}

.board{
    border:1px solid black;
    padding:0;
    border-radius:3px;
    background-image: url("../../../assets/chess_pieces/board.svg");
    width:500px;
    height: 500px;
    position: relative;
    margin: auto;
}

@media screen and (max-width:599px){
.board{
    width:300px;
    height:300px;
}
}

@media screen and (min-width:600px) and (max-width:1031px){
    .board{
        width:500px;
        height:500px;
    }
}

@media screen and (min-width:1031px) and (max-width:1263px){
    .board{
        width:550px;
        height:550px;
    }
}

@media screen and (min-width:1264px) and (max-width:1903px){
    .board{
        width:600px;
        height:600px;
    }
}

@media screen and (min-width:1904px){
    .board{
        width:800px;
        height:800px;
    }
}