<template>
  <div :class="conditionalCSS" v-if="lastMove || (bestMove && $store.state.room.game.showBestMove && isItMyTurn)">
    <div class="move"></div>
  </div>
</template>

<script src="./lib/backgroundInfoChess.js"></script>

<style src="./lib/backgroundInfoChess.css" scoped></style> 