<template>
  <v-content>
    <h1 style="margin-top:10px" class="text-center">A propos</h1>
    <section>
      <v-layout
        column
        wrap
        class="my-12"
        style="margin-top:-15px !important;
    margin-bottom:10px !important;"
        align-center
      >
        <v-flex xs12 style="width:100%">
          <v-container grid-list-xl>
            <v-layout row wrap>
              <v-flex xs12 md4>
                <v-card flat class="transparent">
                  <v-card-text class="text-center">
                    <v-icon x-large class="blue--text text--lighten-2">mdi-web</v-icon>
                  </v-card-text>
                  <v-card-title primary-title class="layout justify-center">
                    <div class="headline text-center">Projet</div>
                  </v-card-title>
                  <v-card-text style="text-align:center">
                    Ce projet a été réalisé dans le cadre de notre cursus universitaire.
                    <br />Le but de ce dernier est de créer une interface web permettant de ...
                  </v-card-text>
                </v-card>
              </v-flex>
              <v-flex xs12 md4>
                <v-card flat class="transparent">
                  <v-card-text class="text-center">
                    <v-icon x-large class="blue--text text--lighten-2">mdi-account</v-icon>
                  </v-card-text>
                  <v-card-title primary-title class="layout justify-center">
                    <div class="headline">Développeurs</div>
                  </v-card-title>
                  <v-card-text>
                    <Avatar
                      nom="Lucas Gancel"
                      profession="M2 IDC Student"
                      style="margin-bottom:10px"
                    />
                    <Avatar nom="Nicolas Hoffmann" profession="M2 IDC Student" />
                  </v-card-text>
                </v-card>
              </v-flex>
              <v-flex xs12 md4>
                <v-card flat class="transparent">
                  <v-card-text class="text-center">
                    <v-icon x-large class="blue--text text--lighten-2">mdi-developer-board</v-icon>
                  </v-card-text>
                  <v-card-title primary-title class="layout justify-center">
                    <div class="headline text-center">Technologies</div>
                  </v-card-title>
                  <v-card-text class="text-center">
                    <img src="../assets/vuetify.png" alt="Vuetify.js" height="100" />
                    <br />
                    <img src="../assets/vuejs.png" alt="VueJS.js" height="100" />
                    <br />
                    <img src="../assets/nodejs.png" alt="NodeJS.js" height="100" />
                    <br />
                    <img src="../assets/stockfish-logo.png" alt="NodeJS.js" height="100" />
                  </v-card-text>
                </v-card>
              </v-flex>
            </v-layout>
          </v-container>
        </v-flex>
      </v-layout>
    </section>
  </v-content>
</template>

<script>
import Avatar from "../components/avatar/avatar"
export default {
	name: "avatar",
	components: {
        Avatar
    },
	methods: {
	}
};
</script>