<template>
  <v-container v-bind:class="[$store.state.room.in ? 'container--fluid' : '']">
    <v-row>
      <v-col>
        <div v-if="isPlayerOnline">
          <GamesInProgress v-if="!$store.state.room.in" />
          <Entrance v-if="!$store.state.room.in" />
          <Room v-if="$store.state.room.in" />
        </div>
        <v-container v-else>
          <h1 class="text-center">Welcome to Chess Online Game</h1>
          <v-alert dense text type="info">
            You must go
            <strong>Online</strong> to play with other players.
          </v-alert>
          <div>
            <Chess :clickable="false" />
          </div>
        </v-container>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
// @ is an alias to /src
import Entrance from "../components/entrance/Entrance";
import Room from "../components/room/Room";
import Chess from "../components/chess/Chess";
import GamesInProgress from "../components/gamesInProgress/GamesInProgress";

export default {
  name: "home",
  components: {
    GamesInProgress,
    Entrance,
    Room,
    Chess
  },
  computed: {
    isPlayerOnline() {
      return this.$store.state.user.status.online;
    }
  }
};
</script>
