<template>
  <v-container>
    <v-row>
      <v-flex xs12 sm8>
        <v-container>
          <v-card>
            <v-card-title>My profile</v-card-title>
            <v-row class="fill-height">
              <v-flex xs12 sm4>
                <v-avatar style="width:100%; height:100%; padding:10%" tile>
                  <v-img src="../assets/account.png"></v-img>
                </v-avatar>
              </v-flex>
              <v-col class="py-0">
                <v-list-item>
                  <v-list-item-content>
                    <v-list-item-title class="title">{{userName}}</v-list-item-title>
                    <v-list-item-title>Registered since : {{since | date}}</v-list-item-title>
                    <v-list-item-title>Total games played : {{nbGames}}</v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
              </v-col>
            </v-row>
          </v-card>
        </v-container>
        <v-container>
          <v-card>
            <v-card-title>Statistics</v-card-title>
            <Doughnut
              :chart-data="chartData"
              :options="options"
              style="padding-left:10%;padding-right:10%"
            ></Doughnut>
          </v-card>
        </v-container>
      </v-flex>
      <v-flex xs12 sm4>
        <v-container>
          <v-card style="max-height: 80vh;
    overflow-y: auto;">
            <v-card-title>Historical</v-card-title>
            <v-row v-for="historical in historicals" :key="historical.GAME_ID">
              <v-flex xs12>
                <v-container style="padding-top:0">
                  <v-card>
                    <v-card-title
                      v-if="(historical.GAME_WHITE_USER == userId && historical.GAME_WINNER == 'WHITE') || (historical.GAME_BLACK_USER == userId && historical.GAME_WINNER == 'BLACK')"
                      style="color:green"
                    >Victory</v-card-title>
                    <v-card-title
                      v-else-if="(historical.GAME_WHITE_USER == userId && historical.GAME_WINNER == 'BLACK') || (historical.GAME_BLACK_USER == userId && historical.GAME_WINNER == 'WHITE')"
                      style="color:red"
                    >Defeat</v-card-title>
                    <v-card-title
                      v-else-if="historical.GAME_WINNER == 'DRAW'"
                      style="color:blue"
                    >Draw</v-card-title>
                    <v-card-title
                      v-else-if="(historical.GAME_WHITE_USER == userId && historical.GAME_WINNER == 'WHITE_FORFEIT') || (historical.GAME_BLACK_USER == userId && historical.GAME_WINNER == 'BLACK_FORFEIT')"
                      style="color:#32CD32"
                    >Win By Forfeit</v-card-title>
                    <v-card-title
                      v-else-if="(historical.GAME_WHITE_USER == userId && historical.GAME_WINNER == 'BLACK_FORFEIT') || (historical.GAME_BLACK_USER == userId && historical.GAME_WINNER == 'WHITE_FORFEIT')"
                      style="color:orange"
                    >Lose By Forfeit</v-card-title>
                    <v-card-title v-else>This sould not happen</v-card-title>
                    <v-card-subtitle>
                      {{historical.GAME_WHITE_USERNAME}} vs {{historical.GAME_BLACK_USERNAME}}
                      <br />
                      {{historical.GAME_DATE | date}}
                    </v-card-subtitle>
                  </v-card>
                </v-container>
              </v-flex>
            </v-row>
          </v-card>
        </v-container>
      </v-flex>
    </v-row>
  </v-container>
</template>

<script>
import Doughnut from "../components/Doughnut/Doughnut";
export default {
  name: "Profile",
  components: { Doughnut },
  computed: {
    userId: function() {
      //return 1;
      return this.$store.state.user.user.user.userid;
    },
    userName: function()
    {
        return this.$store.state.user.user.user.pseudo;
    },
    since : function(){
        return this.$store.state.user.user.user.since;
    },
    nbGames : function()
    {
        if(this.dataForChart.length == 0){
            return 0;
        }
        else{
            let x = 0;
            for(let i in this.dataForChart)
            {
                x += this.dataForChart[i];
            }
            return x;
        }
    },
    chartData() {
      return {
        labels: [
          "wins",
          "loses",
          "wins by forfeit",
          "loses by forfeit",
          "draws"
        ],
        datasets: [
          {
            backgroundColor: ["green", "red", "#32CD32", "orange", "blue"],
            data: this.dataForChart
          }
        ]
      };
    }
  },
  mounted() {
    fetch(
      this.$store.state.apiAddress + "users/" + this.userId + "/historical",
      {
        headers: {
          "Content-Type": "application/json",
          Authorization: "Bearer " + this.$store.state.user.user.token
        }
      }
    ).then(res =>
      res.json().then(res => {
        this.historicals = res.content;
      })
    );

    fetch(this.$store.state.apiAddress + "users/" + this.userId + "/stats", {
      headers: {
        "Content-Type": "application/json",
        Authorization: "Bearer " + this.$store.state.user.user.token
      }
    }).then(res =>
      res.json().then(res => {
        this.dataForChart.push(res.content["0"].WINS);
        this.dataForChart.push(res.content["0"].LOSES);
        this.dataForChart.push(res.content["0"].WINS_FORFEIT);
        this.dataForChart.push(res.content["0"].LOSES_FORFEIT);
        this.dataForChart.push(res.content["0"].DRAW);
      })
    );
  },
  data() {
    return {
      dataForChart: [],
      options: [],
      historicals: [],
    };
  }
};
</script>
