<template>
  <v-container>
    <Signinform />
  </v-container>
</template>

<script>
import Signinform from "../components/signinform/Signinform";

export default {
  name: "SignIn",
  components: {
    Signinform
  }
};
</script>

<style scoped>
</style>