<template>
    <v-container>
        <v-card>
            <v-card-title>Sign Out</v-card-title>
            <v-text-field>You're gonna be signned out, please wait.</v-text-field>
        </v-card>
    </v-container>
</template>

<script>
    export default {
        name: "SignOut",
        mounted() {
            this.$store.dispatch('user/logout').then(() => {
                this.$router.push('/');
            });
        }
    }
</script>

<style scoped>

</style>