<template>
  <v-container>
    <signupform />
  </v-container>
</template>

<script>
import Signupform from "../components/signupform/Signupform";

export default {
  name: "SignUp",
  components: {
    Signupform
  }
};
</script>

<style scoped>
</style>