<template>
  <v-card style="padding-bottom:5px; height:100%">
    <v-card-title>
      {{player.name}}
      <div class="teamBlock" v-bind:class="{ black: player.team == 'b' }"></div>
    </v-card-title>

    <v-icon class="alarmIcon" style>mdi-alarm</v-icon>
    {{player.timeLeft | minutes}}
  </v-card>
</template>

<script src="./lib/PlayerInfo.js"></script>

<style scoped src="./lib/PlayerInfo.css"></style>