<template>
  <v-card>
    <ConfirmDialog
      :showing="dialog"
      @positive="forfeit"
      @negative="dialog = false"
      :negativeText="'Cancel'"
      :text="'Are you sure you want to forfeit this game ?'"
    />

    <v-card-title style="padding-bottom:0">Room</v-card-title>
    <v-container style="padding-top:0">
      <v-row>
        <v-flex class="text-center" md12 xs2>Host : {{ hostPlayerName }}</v-flex>
        <v-flex class="text-center" md12 xs2>HostId : {{ hostId }}</v-flex>
        <v-flex xs3 md12 class="text-center">Guest : {{ guestReady }}</v-flex>
        <v-flex xs2 md12 class="text-center">Room : {{ roomID }}</v-flex>
        <v-flex xs3 md12 class="text-center">Started : {{ gameStarted }}</v-flex>
      </v-row>
      <v-row style="display:flex;vertical-align:center;justify-content:center">
        <v-btn
          class="marginBtn success"
          @click="guestPressReady"
          v-if="isGuest && !isGameStarted"
        >I'm Ready</v-btn>
        <v-btn
          class="marginBtn success"
          @click="hostPressStart"
          v-else-if="!isGuest && !isGameStarted"
          :disabled="!isGuestReady"
        >Start Game</v-btn>

        <v-btn
          class="marginBtn primary"
          v-if="isGameStarted"
          v-clipboard:copy="currentFEN"
          v-clipboard:success="onCopy"
          v-clipboard:error="onError"
        >Copy FEN</v-btn>
        <v-btn
          class="marginBtn primary"
          v-if="isGameStarted && !isShowingBestMove"
          @click="showBestMove"
        >Show Best Move</v-btn>
        <v-btn
          class="marginBtn primary"
          v-if="isGameStarted && isShowingBestMove"
          @click="hideBestMove"
        >Hide Best Move</v-btn>
        <v-btn @click="leave" v-if="!isGameStarted" class="marginBtn warning">
          <v-icon>mdi-arrow-left-bold</v-icon>Leave Room
        </v-btn>
        <v-btn @click="dialog = true" v-else class="marginBtn warning">
          <v-icon>mdi-arrow-left-bold</v-icon>Forfeit
        </v-btn>
      </v-row>
    </v-container>
  </v-card>
</template>

<script src="./lib/LobbyInfo.js"></script>

<style src="./lib/LobbyInfo.css" scoped>
</style> 