<template>
    <v-card>
        <v-app-bar
                color="rgba(17, 89, 28, 1)"
                dark
                dense>
            Chat
        </v-app-bar>
        <v-container>
            <v-list id="list">
                <template v-for="(msg, index) in msgs">
                    <v-list-item v-bind:key="index">
                        <p>{{msg.author}} : {{msg.content}}</p>
                    </v-list-item>
                </template>
            </v-list>
            <v-container class="d-flex align-center">
                <v-text-field
                        v-on:keyup.enter="send"
                        label="Send a message"
                        v-model="msgBeingWritten"
                ></v-text-field>
                <v-btn @click="send" icon>
                    <v-icon>mdi-send</v-icon>
                </v-btn>
            </v-container>
        </v-container>
    </v-card>
</template>

<script>
    export default {
        name: "Chat",
        data() {
            return {
                msgs: [],
                msgBeingWritten: ""
            }
        },
        sockets: {
            msg: function (data) {
                this.msgs.push({
                    "author": data.author,
                    "content": data.msg
                });
                let list = this.$el.querySelector("#list");
                list.scrollTop = list.scrollHeight;
            }
        },
        methods: {
            send: function () {
                let data = {
                    author: this.$store.state.user.user.user.pseudo,
                    msg: this.msgBeingWritten
                };
                this.$socket.emit('msg', data);
                this.msgBeingWritten = "";
            }
        }
    }
</script>

<style scoped>
    #list {
        height: 250px;
        overflow-y: auto;
    }
</style>