<template>
  <div @click="clickMove()" style="display:flex; cursor: pointer; z-index:3;">
    <div class="move"></div>
  </div>
</template>

<script src="./lib/Move.js"></script>

<style src="./lib/Move.css" scoped></style> 