<template>
  <v-container fluid style="margin-left:2%; margin-right:2%">
    <v-row>
      <v-flex md2 xs12>
        <v-row class="d-block d-md-none">
          <v-flex xs12>
            <LobbyInfo />
          </v-flex>
        </v-row>
        <v-row>
          <v-flex md12 xs4>
            <PlayerInfo :player="player1" />
          </v-flex>
          <v-flex md12 xs4>
            <Score :basicScore="basicScore" :stockFishScore="stockFishScore" />
          </v-flex>
          <v-flex class="d-none d-md-block" md12 xs4>
            <LobbyInfo
              :hostPlayerName="hostPlayerName"
              :isGuestReady="isGuestReady"
              :roomID="roomID"
            />
          </v-flex>
          <v-flex md12 xs4>
            <PlayerInfo :player="player2" />
          </v-flex>
        </v-row>
      </v-flex>

      <v-flex md7 xs12>
        <Chess @computeBasicScore="computeBasicScore" />
      </v-flex>

      <v-flex md3 xs12 style="padding-right:20px">
        <Chat />
      </v-flex>
    </v-row>
  </v-container>
</template>


<script>
  import Chat from "../chat/Chat";
  import Chess from "../chess/Chess";
  import PlayerInfo from "../playerInfo/PlayerInfo";
  import Score from "../score/Score";
  import LobbyInfo from "../lobbyInfo/LobbyInfo";

  export default {
    name: "Room",
    data() {
      return {
        basicScore: 0,
        stockFishScore: 0
      };
    },
    components: {
      Chat,
      Chess,
    PlayerInfo,
    Score,
    LobbyInfo
  },
  sockets: {
    gameStarting: function () {
      this.$store.dispatch("room/gameStarting");
    },
    guestJoinedRoom: function (data) {
      this.$store.dispatch("room/join", data);
    },
    playerHasLeft: function () {
      this.$store.commit("room/leave");
    },
    guestIsReady: function () {
      this.$store.commit("room/guestReady");
    },
    stockfishScore: function (data) {
      this.stockFishScore = Number(data) / 100;
    },
    getBestMove: function(data) {
      this.$store.commit("room/updateBestMove", data);
    }
  },
  methods: {
    computeBasicScore(data) {
      this.basicScore = 0;
      const points = {
        r: -5,
        n: -3,
        b: -3,
        q: -9,
        k: -0,
        p: -1,

        P: 1,
        K: 0,
        Q: 9,
        B: 3,
        N: 3,
        R: 5
      };
      for (let piece in data) {
        this.basicScore += points[data[piece].val];
      }
    }
  },
  computed: {
    player1() {
      return {
        name: this.$store.state.room.host.name,
        team: this.$store.state.room.host.color,
        timeLeft: this.$store.state.room.host.timeLeft.time
      };
    },
    player2() {
      return {
        name: this.$store.state.room.guest.name,
        team: this.$store.state.room.guest.color,
        timeLeft: this.$store.state.room.guest.timeLeft.time
      };
    },
    roomID() {
      return this.$store.state.room.id;
    },
    hostPlayerName() {
      return this.$store.state.room.host.name;
    },
    isGuestReady() {
      return this.$store.state.room.guestReady ? "Ready" : "Not Ready";
    }
  }
};
</script>

<style scoped>
</style>