<template>
    <v-row justify="center">
        <v-dialog
                max-width="290"
                v-model="activate"
        >
            <v-card>
                <v-card-title class="headline">Invitation to resume a game</v-card-title>

                <v-card-text>
                    You're invited to resume an unfinished game (game {{ gameid }}) by {{ host }}.
                </v-card-text>

                <v-card-actions>
                    <v-spacer></v-spacer>

                    <v-container>
                        <v-btn
                                @click="joinToResume(false)"
                                color="red darken-1"
                                text
                        >
                            Decline
                        </v-btn>
                        <v-btn
                                @click="joinToResume(true)"
                                color="green darken-1"
                                text
                        >
                            Accept
                        </v-btn>
                    </v-container>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-row>
</template>

<script>
    export default {
        name: "ResumeModal",
        props: ['dialog', 'host', 'gameid'],
        computed: {
            activate() {
                return this.dialog;
            }
        },
        methods: {
            joinToResume(answer) {
                this.$emit('joinToResume', {
                    answer: answer
                });
            }
        }
    }
</script>

<style scoped>

</style>