<template>
    <v-snackbar style="margin-top:45px" v-model="show" :timeout="10000" :right="true" :top="true" :color="color">
        {{message}}
    </v-snackbar>
</template>

<script src="./lib/feedBack.js"></script>