<template>
  <v-container>
    <v-card>
      <v-card-title>Create Room</v-card-title>
      <v-card-subtitle
        style="padding-bottom:5px"
      >You can create a new room, basic or by specifing a FEN for the default position</v-card-subtitle>
      <v-container style="padding-top:0">
        <v-row>
          <v-flex style="display:flex" xs12 sm4>
            <v-btn @click="create" style="margin:auto">Create a new room</v-btn>
          </v-flex>
          <v-flex style="display:flex" xs12 sm8>
            <v-text-field
              v-model="startFEN"
              :append-outer-icon="'mdi-send'"
              outlined
              label="Start with specified FEN"
              style="margin:auto"
              @click:append-outer="startWithFEN"
            ></v-text-field>
          </v-flex>
        </v-row>
      </v-container>
    </v-card>
    <v-card style="margin-top:10px">
      <v-card-title>Join Room</v-card-title>
      <v-card-subtitle>You can join a room by specifing the ID of the room you want to join</v-card-subtitle>
      <v-container>
        <v-row>
          <v-flex xs10>
            <v-text-field label="Room ID" outlined v-model="roomid"></v-text-field>
          </v-flex>
          <v-flex style="display:flex" xs2>
            <v-btn style="margin:auto" @click="join">Join</v-btn>
          </v-flex>
        </v-row>
      </v-container>
    </v-card>
  </v-container>
</template>

<script>
export default {
  name: "Entrance",
  data() {
    return {
      roomid: "",
      startFEN: "rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1",
    };
  },
  sockets: {
    roomCreated: function(data) {
      this.$store.dispatch("room/create", data);
    },
    guestJoinedRoom: function(data) {
      this.$store.dispatch("room/join", data);
    }
  },
  methods: {
    join: function() {
      let data = {
        room_id: this.roomid
      };
      this.$socket.emit("joinRoom", data);
    },
    create: function() {
      this.$socket.emit("createRoom", {});
    },
    startWithFEN: function() {
      let data = {
        fen: this.startFEN
      };
      this.$socket.emit("createRoom", data);
    }
  }
};
</script>

<style>
.v-text-field__details {
  display: none !important;
}
</style>