<template>
  <v-container>
    <v-app-bar color="rgba(17, 89, 28, 1)" dark dense>Games in Progress</v-app-bar>
    <v-card style="max-height: 40vh;
    overflow-y: auto;">
      <v-row id="list">
        <v-flex
          xs6
          sm4
          md3
          v-for="(games, index) in gamesInProgress"
          v-bind:key="index"
          style="padding:6px"
        >
          <v-card>
            <v-card-title>Game ID : {{games.GAME_ID}}</v-card-title>
            <v-card-subtitle>{{games.GAME_WHITE_USERNAME}} vs {{games.GAME_BLACK_USERNAME}}</v-card-subtitle>
            <v-card-actions>
              <v-btn @click="resumeGame(index)">Resume</v-btn>
            </v-card-actions>
          </v-card>
        </v-flex>
      </v-row>
    </v-card>
  </v-container>
</template>

<script>
export default {
  name: "GamesInProgress",
  data() {
    return {
      gamesInProgress: []
    };
  },
  computed: {
    userId: function() {
      return this.$store.state.user.user.user.userid;
    },
    userToken: function() {
      return this.$store.state.user.user.token;
    }
  },
  methods: {
    resumeGame: function(index) {
      this.$socket.emit("resumeGame", this.gamesInProgress[index]);
    }
  },
  mounted() {
    fetch(
      this.$store.state.apiAddress +
        "users/" +
        this.userId +
        "/games/inprogress",
      {
        headers: {
          "Content-Type": "application/json",
          Authorization: "Bearer " + this.userToken
        }
      }
    ).then(res =>
      res.json().then(res => {
        this.gamesInProgress = res.content;
      })
    );
  }
};
</script>

<style scoped>
</style>