/*.cell{
    padding:0;
    height:72px
}

.pieceImg{
    margin-top:1vh;
    width:70%;
    text-align: center;
    max-width: 60px;
    max-height: 60px;
}*/
.cell{
    cursor: pointer;
    z-index:2;
}

.check{
    background-color: #cc12126b;
}

