<template>
  <v-row justify="center">
    <v-dialog max-width="290" v-model="activate">
      <v-card>
        <v-card-title class="headline">Pawn promotion</v-card-title>

        <v-card-text style="padding-bottom:0">Chose in which piece you want your pawn to me promoted</v-card-text>
        <v-card-actions>
          <v-container style="padding-bottom:0">
            <v-row>
              <v-flex xs6 sm3>
                <Cell
                  :val="val.r"
                  @cellClick="promotionResult('r')"
                  v-if="this.promotions.indexOf('r')!== -1"
                ></Cell>
              </v-flex>

              <v-flex xs6 sm3>
                <Cell
                  :val="val.n"
                  @cellClick="promotionResult('n')"
                  v-if="this.promotions.indexOf('n')!== -1"
                ></Cell>
              </v-flex>

              <v-flex xs6 sm3>
                <Cell
                  :val="val.b"
                  @cellClick="promotionResult('b')"
                  v-if="this.promotions.indexOf('b')!== -1"
                ></Cell>
              </v-flex>

              <v-flex xs6 sm3>
                <Cell
                  :val="val.q"
                  @cellClick="promotionResult('q')"
                  v-if="this.promotions.indexOf('q')!== -1"
                ></Cell>
              </v-flex>
            </v-row>
            <v-row style="display:flex; vertical-align:center; justify-content:center">
              <v-btn style="margin-top:3px" @click="dialog = false" color="red darken-1" text>Cancel move</v-btn>
            </v-row>
          </v-container>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import Cell from "../cell/Cell";

export default {
  name: "PromotionModal",
  props: ["dialog", "promotions", "move", "turn"],
  computed: {
    activate() {
      return this.dialog;
    },
    val() {
      if (this.turn == "w") {
        return {
          n: "N",
          r: "R",
          q: "Q",
          b: "B"
        };
      } else {
        return {
          n: "n",
          r: "r",
          q: "q",
          b: "b"
        };
      }
    }
  },
  methods: {
    promotionResult(selection) {
      this.$emit("promotionResult", {
        promotion: selection,
        move: this.move
      });
    }
  },
  components: {
    Cell
  }
};
</script>

<style scoped>
</style>